<p>{% extends "base.html" %} {% block content %} {% if session['logged_in'] %} {% if data %}</p>
<div>
<h3>{{ data }}</h3>
</div>
<p>{% else %}</p>
<div><center>
<div><a href="/logout">Logout</a><br /><br /><form action="" method="POST">
<p>You must put the correct username and password to get the correct information.</p>
 <p><input name="username" type="username" placeholder="username" /></p>
<p><input name="password" type="password" placeholder="password" /></p>
<p><input type="submit" value="Open user data" /></p>
</form></div>
</center></div>
<p>{% endif %} {% else %}</p>
<div><center>
<div>
<p>You need to login first.</p>
<a href="/login">Login</a> <a href="/register">Register</a></div>
</center></div>
<p>{% endif %} {% endblock %}</p>
